body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.Box {
    position: absolute;
    background-color: #191919;
    border: 5px #7f7f7f solid;
    border-radius: 10px;
    width: 20%;
    height: 13%;
    color: white;
    transition: 200ms;
}

.Box:hover {
    background-color: #d1d1d1;
    color: black;
    border-color: #191919;
    cursor: pointer;
}

.BoxText {
    position: absolute;
    margin-top: 15%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250%;
    cursor: default;
}

.BoxText:hover {
    cursor: pointer;
}

#MessagesContainer {
    position: absolute;
    margin-left: 67%;
    margin-top: 10%;
    transform: translate(-67%, 0%);
}

#GamesContainer {
    position: absolute;
    margin-left: 33%;
    margin-top: 10%;
    transform: translate(-33%, 0%);
}

#ProxyContainer {
    position: absolute;
    margin-left: 50%;
    margin-top: 21%;
    transform: translate(-50%, 0%);
}

#Version {
    position: absolute;
    bottom: 2%;
    left: 2%;
    color: rgb(69,69,69);
}

#Info {
    position: absolute;
    bottom: 2%;
    left: 7%;
    color: rgb(69,69,69);
    cursor: pointer;
}

#UpdateLog {
    position: absolute;
    bottom: 2%;
    left: 12%;
    color: rgb(69,69,69);
    cursor: pointer;
}

#Title {
    background: linear-gradient(120deg, #0038FF, #B800D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    text-align: center;
    margin-top: 1%;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    font-size: 500%;
}